meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Sales List
link(
  rel="stylesheet",
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css",
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==",
  crossorigin="anonymous",
  referrerpolicy="no-referrer"
)
link(rel="stylesheet", href="css/saleslist.css")

// Sidebar
aside.sidebar
  .sidebar-header
    h2 MWF System
  nav.sidebar-nav
    ul
      li
        a.active(href="/saleslist")
          i.fa-solid.fa-table
          | Sales List
      li
        a(href="/salesEntry")
          i.fa-solid.fa-rectangle-list
          | Sales Entry
      li
        a(href="/salesreport")
          i.fa-solid.fa-table-list
          | Sales Table
      li
        a(href="/attendantDashboard")
          i.fa-solid.fa-clipboard
          | Dashboard
      li
        a(href="../Reciepts/receipt.html")
          i.fa-solid.fa-receipt
          | Sales Reciept

.container
  h1 Sales List
  .table-section
    table
      thead
        tr
          th Customer Name
          th Product Name
          th Product Type
          th Quantity
          th Unit Price
          th Date
          th Payment Type
          th Sales Agent
          th Transport
          th Total Price
          if currentUser.role === "Manager"
            th Update
            th Delete
          else
            th Reciept
      tbody
        if sales.length
          each sale in sales
            tr
              td #{sale.customerName}
              td #{sale.productName}
              td #{sale.productType}
              td #{sale.quantity}
              td #{sale.unitPrice}
              td #{new Date(sale.saleDate).toLocaleDateString()}
              td #{sale.paymentType}
              td #{sale.salesAgent.email}
              td #{sale.transportRequired}
              td #{sale.total}
              if currentUser.role === "Manager"
                td
                  a.action-btn.edit(href=`/editsale/${sale._id}`)
                    i.fa-solid.fa-pen-to-square
                    | Edit
                td    
                  form(method="POST", action="/deletesale")
                    input(type="hidden", name="id", value=sale._id)
                    button.action-btn.delete(type="submit")
                      i.fa-solid.fa-trash
                      | Delete
              else
                td
                  a.action-btn.receipt(href=`/receipt/${sale._id}`)
                    i.fa-solid.fa-receipt
                    | Generate Reciept
        else
          tr
            td(colspan="12") No sales found
  .link
    a.action-btn.add(href="/stockManager") 
      i.fa-solid.fa-plus
      | Add Sales
