extends layout

block css
  link(rel="stylesheet", href="/css/saleslist.css")

block content
  include includes/sidebar1.pug

  // --- Main Content ---
  .main
    .container
      h1 SALES LIST

      // --- Controls: Search and Add Button ---
      .table-controls
        .search-box
          i.fa-solid.fa-magnifying-glass
          input#searchInput(type="text", placeholder="Search sales...")
        a.action-btn.add(href="/salesEntry")
          i.fa-solid.fa-plus
          | Add Sales

      // --- Table Section ---
      .table-section
        .table-wrapper
          table#salesTable
            thead
              tr
                th Customer Name
                th Product Name
                th Product Type
                th Quantity
                th Unit Price
                th Date
                th Payment Type
                th Sales Agent
                th Transport
                th Total Price
                if currentUser && currentUser.role === "Manager"
                  th Update
                  th Delete
                else
                  th Receipt
            tbody
              if sales.length
                each sale in sales
                  tr
                    td #{sale.customerName}
                    td #{sale.productName}
                    td #{sale.productType}
                    td #{sale.quantity}
                    td #{sale.unitPrice}
                    td #{new Date(sale.saleDate).toLocaleDateString()}
                    td #{sale.paymentType}
                    td #{sale.salesAgent.email}
                    td #{sale.transportRequired}
                    td #{sale.total}
                    if currentUser && currentUser.role === "Manager"
                      td
                        a.action-btn.edit(href=`/editsale/${sale._id}`)
                          i.fa-solid.fa-pen-to-square
                          | Edit
                      td
                        form(method="POST", action="/deletesale")
                          input(type="hidden", name="id", value=sale._id)
                          button.action-btn.delete(type="submit")
                            i.fa-solid.fa-trash
                            | Delete
                    else
                      td
                        a.action-btn.receipt(href=`/receipt/${sale._id}`)
                          i.fa-solid.fa-receipt
                          | Generate Receipt
              else
                tr
                  td(colspan="12") No sales found

  // --- Delete Confirmation Modal ---
  #deleteModal.modal.hidden
    .modal-content
      h3 Are you sure you want to delete this sale?
      p This action cannot be undone.
      .modal-buttons
        button#confirmDeleteBtn.confirm-btn(type="button") Yes, Delete
        button#cancelDeleteBtn.cancel-btn(type="button") Cancel

  // --- Footer ---
  footer.footer
    p © 2025 MWF. All rights reserved.
    p
      | Developed by 
      span.dev-name Mary Precious Ayebazibwe
      |  at 
      span.company-name Mayondo Wood & Furniture Ltd.

  // --- External JS ---
  script(src="/js/saleslist.js")
