meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Stock List
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css", integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==", crossorigin="anonymous", referrerpolicy="no-referrer")
link(rel="stylesheet", href="css/stocklist.css")

// Sidebar
aside.sidebar
  .sidebar-header
    h2 MWF System
  nav.sidebar-nav
    ul
      li
        a.active(href="/stocklist")
          i.fa-solid.fa-table
          |  Stock List
      li
        a(href="/managerDashboard")
          i.fa-solid.fa-clipboard
          |  Dashboard
      li
        a(href="/stockManager")
          i.fa-solid.fa-rectangle-list
          |  Stock Entry
      li
        a(href="/stockreport")
          i.fa-brands.fa-microsoft
          | Stock Report

.main
  .container
    section.table-section
      .header-row
        h2 Stock List
        a.btn-add(href="/stockManager")
          i.fa-solid.fa-plus
          |  Add Stock

      // Filter Bar
      .filter-bar
        input#filterName(type="text", placeholder="Filter by Product Name")
        select#filterType
          option(value="") All Types
          option(value="Electronics") Electronics
          option(value="Clothing") Clothing
          option(value="Furniture") Furniture

      table#stockTable
        thead
          tr
            th Product Name
            th Product Type
            th Quantity Available
            th Cost Price
            th Selling Price
            th Supplier Name
            th Date Received
            th Quality
            th Color
            th Measurements
            th Alerts
            th Actions
        tbody
        if items.length
          each item in items
            tr 
              td #{item.name}
              td #{item.type}
              td #{item.qty}
              td #{item.cost}
              td #{item.price}
              td #{item.supplier}
              td #{moment(item.dateReceived).format("DD-MM-YYYY")}
              td #{item.quality}
              td #{item.color}
              td #{item.measurements}
              td
                if item.qty <= 2
                  span.btn.btn-warning Low Stock     
              td.action-buttons
                a.action-btn.edit(href=`/editstock/${item._id}`) 
                  i.fa-solid.fa-pen-to-square
                  | Edit
                form.delete-form(method='POST', action='/deletestock') 
                  input(type='hidden', name='id' value=item._id)
                  input(type='hidden', name='productName' value=item.name)
                  button.action-btn.delete(type='submit') 
                    i.fa-solid.fa-trash
                    | Delete
        // "No results" row (hidden by default)
        tr#noResults(style="display:none;")
          td(colspan="12") Product not found
// Confirmation Modal
#confirmModal.modal
  .modal-content
    p#confirmMessage Are you sure you want to delete this product?
    .modal-actions
      button#confirmYes Yes, Delete
      button#confirmNo Cancel

script(src="js/stocklist.js")
